
<section>
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          Who we are
          <hr />
        </div>
        <div class="banner-sub-heading">About NFT Finch</div>
      </div>
    </div>
  </div>
</section>

<section id="about" style="margin-bottom:80px ; margin-top: 30px;">
  <div class="container">
    <div class="text-intro">
      <h1>Who we are and how we started</h1>
      <div>
        <hr class="hr-line" />
      </div>
      <p class="para">
        NFTFinch team has got vast experience in technology, almost 50 years
        collectively, and a significant experience in driving business. We have
        always been keen on discussing new ideas that may contribute to how
        technology facilitates different parts of society. The birth of NFTFinch
        was an outcome of one of those productive discussions. We strongly
        believe that NFTFinch will change the way NFTs are seen in a major group
        of artists who are not technical but want to participate in NFT
        marketplaces. If you are an artist and want to publish your NFTs without
        knowing nuances of it then NFTFinch is the best place for you.
        <br /><br />
        We tried to make NFTFinch as simple and intuitive as possible so that
        you don’t have to be tech-savvy for diving into this growing metaverse.
        You can start getting financial rewards for your artwork in a very few
        and easy steps.
      </p>
    </div>
  </div>
</section>

<section id="section3">
  <div class="container">
    <div class="text-line3">
      <h1 class="line3">Our Vision</h1>

      <p class="para3">
        Our vision is to facilitate talented artists sell their artworks in NFT
        marketplaces without even understanding what NFTs are. Well, they don’t
        have to, but they are welcome to understand how it works technically.
      </p>
    </div>
  </div>
</section>

<section id="about" style="margin-bottom:80px ; margin-top: 30px;">
  <div class="container">
    <div class="text-intro">
      <h1>How It Works</h1>
      <div>
        <hr class="hr-line" />
      </div>
      <p class="para4">Its very easy to get started with our platform –</p>
    </div>

    <div class="row">
      <div class="col-lg-4 hiw">
        <div class="icon-box effect medium border center">
          <div class="icon">
            <i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
          </div>
          <h3 class="h3">Sign up or create your account on NFTFinch</h3>
        </div>
      </div>
      <div class="col-lg-4 hiw">
        <div class="icon-box effect medium border center">
          <div class="icon">
            <i class="fa fa-upload fa-2x"></i>
          </div>
          <h3>Upload your artwork</h3>
        </div>
      </div>
      <div class="col-lg-4 hiw">
        <div class="icon-box effect medium border center">
          <div class="icon">
            <i class="fa fa-scribd fa-2x"></i>
          </div>
          <h3>
            Automatic minting and publishing of NFT on to leading marketplaces.
          </h3>
        </div>
      </div>

      <div class="col-lg-2"></div>

      <div class="col-lg-4 hiw">
        <div class="icon-box effect medium border center">
          <div class="icon">
            <i class="fa fa-bell fa-2x"></i>
          </div>
          <h3>You get notification once your artwork is sold.</h3>
        </div>
      </div>
      <div class="col-lg-4 hiw">
        <div class="icon-box effect medium border center">
          <div class="icon">
            <i class="fa fa-credit-card-alt fa-2x"></i>
          </div>
          <h3>Money starts reflecting in your account.</h3>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</section>

