<section class="section1">
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          NON FUNGIBLE TOKENS
          <hr />
        </div>
        <div class="banner-sub-heading">Understanding NFTs</div>
      </div>
    </div>
  </div>
</section>

<section id="nftsection" class="nftsection">
  <div class="container">
  <div class="heading-text heading-section text-center m-b-40 animated fadeInUp visible" data-animate="fadeInUp">
  <span class="lead">NFTs are cryptographic assets on a Blockchain with unique identification codes and metadata that distinguish them from each other. But, unlike Cryptocurrencies, NFTs cannot be traded or exchanged at equivalency. Cryptocurrencies that are identical to each other, can be used as a medium for commercial transactions.</span><br><br>
  <span class="lead">The unique construction of each NFT has the potential for several use cases. For example, they are an ideal vehicle to digitally represent physical assets like real estate and artwork. Because they are based on blockchains, NFTs can also be used to remove intermediaries and connect artists with audiences or for identity management. NFTs can remove intermediaries, simplify transactions, and create new markets.</span>

  </div>
  <div class="row">
  <div class="col-lg-12 mx-auto">
  <div class="blockquote ">
  <p class="hr-para">In early March, a group of NFTs by digital artist Beeple was sold for over $69 million. The sale set a precedent and a record for the most expensive pieces of digital art sold thus far. The artwork was a collage comprised of Beeple’s first 5,000 days of work.</p>
  </div>
  </div>
  </div>

  </div>
  </section>

  <section>
    <div class="banner1">
      <div class="container">
        <div class="banner1-text">
          <div class="banner1-heading">
            LET'S DO THIS
            <hr>
          </div>
          <div class="banner1-sub-heading">Understanding NFTs</div>
          <div class="container">
          <div class="row">

            <div class="col-lg-4">
              Like physical money, cryptocurrencies are fungible i.e., they can be traded or exchanged, one for another. For example, one Bitcoin is always equal in value to another Bitcoin. Similarly, a single unit of Ether is always equal to another unit. This fungibility characteristic makes cryptocurrencies suitable for use as a secure medium of transaction in the digital economy.</div>
            <div class="col-lg-4">
              NFTs shift the crypto paradigm by making each token unique and irreplaceable, thereby making it impossible for one non-fungible token to be equal to another. They are digital representations of assets and have been likened to digital passports because each token contains a unique, non-transferable identity to distinguish it from other tokens. They are also extensible, meaning you can combine one NFT with another to “breed” a third, unique NFT.</div>
            <div class="col-lg-4">
              Just like any Cryptocurrency, NFTs also contain ownership details for easy identification and transfer between token holders. Owners can also add metadata or attributes pertaining to the asset in NFTs. For example, tokens representing coffee beans can be classified as fair trade. Or, artists can sign their digital artwork with their own signature in the metadata.</div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
    <div class="heading-text heading-section text-center section4">
    <h2 class="section4-h2">Some Examples of NFT</h2>
    <p>Non-fungible tokens can digitally represent any asset, including online-only assets like digital artwork and real assets such as real estate. Other examples of the assets that NFTs can represent include in-game items like avatars, digital and non-digital collectables, domain names, and event tickets.</p>
    <button class="btn btn-primary">Read More</button>
    </div>


    </div>
    </section>

    <section>
      <div class="banner3">
        <div class="container-fluid ">
          <div class="row">
          <div class="col-lg-6 col-md-12">
            <h1 class="banner3-h1">How can I buy NFTs?</h1>
            <p class="banner3-p">Many NFTs can only be purchased with Ether, so owning some of this cryptocurrency and storing it in a digital wallet is usually the first step. You can then purchase NFTs via any of the online NFT marketplaces, including OpenSea, Rarible, and SuperRare.</p>
            <button class="banner3-btn">Read Me</button>
          </div>
          <div class="col-lg-6 col-md-12">
            <iframe class="iframe" src="https://www.youtube.com/embed/SdQ3WJkGdn8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        </div>
        </div>
    </section>



