<section>
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          Launch your own NFT store or Marketplace <br />{{ input }}
        </div>
        <div class="banner-sub-heading">
          Grow your NFT brand with zero technical expertise, creator &
          enterprise friendly features, complete customisation, and tons of
          integrations!
        </div>
        <button type="button" class="btn btn-warning text-dark btn-banner">
          Get started
        </button>
      </div>
    </div>
  </div>
  <section id="about">
    <div class="container">
      <div class="text-intro">
        <h1>Get Started in 2 simple steps</h1>
        <div>
          <hr class="hr-line" />
        </div>
        <img class="img-1" src="../../assets/responsive-1.jpg" />
      </div>
    </div>
  </section>

  <section class="section1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <img
            class="img-fluid mt-5 animated fadeInUp visible"
            data-animate="fadeInUp"
            data-animate-delay="0"
            src="https://www.nftfinch.com/images/s1.png"
            alt=""
          />
        </div>

        <div class="col-lg-7">
          <div class="heading-text heading-section">
            <h2>
              <span class="badge badge-success">01</span> Connect Your Wallet
            </h2>

            <hr class="hr-badge" />
          </div>
          <div
            data-animate="fadeInUp"
            data-animate-delay="0"
            class="animated fadeInUp visible"
          >
            <h4 class="heading">
              Choose from amongst the most popular wallets
            </h4>
            <p class="para">
              Whether it be Metamask, the go-to wallet for crypto veterans or
              Fortmatic that works with your phone/email, select your preferred
              wallet from these and more.
            </p>
            <ul class="list-icon list-icon-check list-icon-colored">
              <li>1-Click Login using your Wallet</li>
              <li>Your NFTs &amp; Crypto always stay in your possesion</li>
              <li>Switch between multiple accounts in a jiffy</li>
            </ul>
            <button class="btn btn-primary">Create A Store Now</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section4">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 first">
          <div class="heading-text heading-section">
            <h2>
              <span class="badge badge-success">02</span> Start Selling &amp;
              Growing
            </h2>
            <hr class="hr-badge" />
          </div>
          <div
            data-animate="fadeInUp"
            data-animate-delay="0"
            class="animated fadeInUp visible"
          >
            <h4>Start selling and growing</h4>
            <p>
              Upload your assets, add their details like name, description, etc
              and mint them with a click. Focus on your brand while we take care
              of the tech.
            </p>
            <ul class="list-icon list-icon-check list-icon-colored">
              <li>
                Create both Non-Fungible (unique) &amp; Semi-Fungible (limited
                edition) tokens
              </li>
              <li>Airdrop millions of tokens in a jiffy</li>
              <li>
                Secure your assets and enable NFT based ticketing for viewing
                them
              </li>
            </ul>
            <button class="btn btn-primary">Create A Store Now</button>
          </div>
        </div>
        <div class="col-lg-5 second">
          <img
            class="img-fluid2 mt-md-5 animated fadeInUp visible"
            data-animate="fadeInUp"
            data-animate-delay="0"
            src="https://www.nftfinch.com/images/s2.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="section4 mob-cstm">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 second">
          <img
            data-animate="fadeInUp"
            data-animate-delay="0"
            src="https://www.nftfinch.com/images/s2.png"
            alt=""
            class="img-fluid2 mt-md-5 animated fadeInUp visible"
          />
        </div>
        <div class="col-lg-7 first">
          <div class="heading-text heading-section">
            <h2>
              <span class="badge badge-success">02</span>
              Start Selling &amp; Growing
            </h2>
            <hr class="hr-badge" />
          </div>
          <div
            data-animate="fadeInUp"
            data-animate-delay="0"
            class="animated fadeInUp visible"
          >
            <h4>Start selling and growing</h4>
            <p>
              Upload your assets, add their details like name, description, etc
              and mint them with a click. Focus on your brand while we take care
              of the tech.
            </p>
            <ul class="list-icon list-icon-check list-icon-colored">
              <li>
                Create both Non-Fungible (unique) &amp; Semi-Fungible (limited
                edition) tokens
              </li>
              <li>Airdrop millions of tokens in a jiffy</li>
              <li>
                Secure your assets and enable NFT based ticketing for viewing
                them
              </li>
            </ul>
            <button class="btn btn-primary">Create A Store Now</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
