.banner {
  background-image: url("../../assets/notgeneric_bg3.jpg");
  text-align: center;
  color: #fff;

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #ebf1f7;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #28a745;
}
.banner-text {
  padding: 200px 0 150px 0;
}
.banner-heading {
  font-family: poppins, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 30px;
  color: #fff;
}
.banner-sub-heading {
  font-family: poppins, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.btn-banner {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.text-intro {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.hr-line {
  padding-bottom: 2px;
  width: 100px;
  margin-left: 450px;
  border-bottom: 3px solid #082760;
}

.heading-section {
  margin-top: 100px;
  font-family: poppins, sans-serif;
}

.img-fluid {
  padding-top: 100px;
  padding-left: 80px;
}

.hr-badge {
  width: 100px;
  color: #2250fc;
  border-bottom: 2px solid #2250fc;
  margin: 24px 0px;
}

.first {
  padding-left: 80px;
  font-family: poppins, sans-serif;
}

.heading {
  font-family: poppins, sans-serif;
  margin-bottom: 13px;
}

.animated {
  font-family: poppins, sans-serif;
  column-gap: 10px;
}

.section1 {
  background-color: #ebf1f7;
  padding-bottom: 50px;
}

.navbar {
  font-family: auto;
}

img {
  margin-left: -45px;
  width: 100%;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section4 {
  padding-bottom: 80px;
}
section.section4.mob-cstm {
  display: none;
}

@media only screen and (max-width: 768px) {
  section.section4.mob-cstm {
    display: block;
    margin-bottom: 30px;
  }
  section.section4 {
    display: none;
  }

  .banner-text {
    padding: 150px 0 0px 0;
  }
  .banner-heading {
    font-family: poppins, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 37px;
    color: #fff;
    width: 100%;
  }
  .banner-sub-heading {
    font-family: poppins, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 37px;
    margin-left: 10px;
    color: #fff;
    width: 100%;
  }
  .banner {
    background-image: url("../../assets/notgeneric_bg3.jpg");
    text-align: center;
    color: #fff;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 543px;
  }

  img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
  }
  .h1,
  h1 {
    font-size: 1.5rem;
  }
  .h2,
  h2 {
    font-size: 24px;
  }
  .hr-badge {
    width: 100px;
    padding-top: 0px;
    border-bottom: 3px solid #082760;
    margin: 15px 0px;
  }
  .img-fluid {
    padding-top: 0px;
    padding-left: 0px;
  }
  .heading-section {
    margin-top: 30px;
    margin-left: 24px;
    font-family: poppins, sans-serif;
  }
  .heading {
    font-family: poppins, sans-serif;
    margin-bottom: 13px;
    margin-left: 23px;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 26px;
  }
  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 12px;
  }
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-left: 30px;
  }
  .first {
    padding-left: 23px;
    font-family: poppins, sans-serif;
  }
  .h4,
  h4 {
    font-size: 1.5rem;
    margin-left: 22px;
  }
  .section4 {
    padding-bottom: 0px;
  }
  .hr-line {
    padding-bottom: 2px;
    width: 100px;
    margin-left: 105px;
    border-bottom: 3px solid #082760;
  }
  .section1 {
    background-color: #ebf1f7;
    padding-bottom: 30px;
  }

  .collapse navbar-collapse {
    display: block;
  }

  img {
    width: 100%;
  }
}
